{% extends 'base.html.twig' %}

{% block title %}CR13 - Event Details
{% endblock %}

{% block main %}
	<div class="bg-black p-3">
		<div class="row g-0 details">
			<div class="details-pic">
				<img src="{{ event.image }}"alt="{{ event.name }}">
			</div>
			<div class="details-text p-3">
				<h5 class="card-title text-center">{{event.name}}</h5>

				<p class="h5 text-center"><b>Category:</b>{{event.type}}</p>
				<p><b>On</b>{{event.date|date('F j, Y, g:i a')}}</p>
				<p><b>Adress:</b>{{event.address}}</p>
				<p><b>Capacity:</b>{{event.capacity}}</p>
				<p>{{event.description}}</p>
				<div class="row g-5 p-2">
					<div class="col-md-6">
						<p><b>Website:</b></p>
					</br>
					<p>{{event.url}}</p>
				</div>
					<div class="col-md-6">
						<p><b>Contact:</b></p>
						<p>{{event.email}}</br>
						{{event.phone}}</p>
					</div>
				</div>
				<div class="text-end">
					<a class="btn btn-info btn-small" href="/edit/{{event.id}}">&#128393</a>
					<a class="btn btn-info btn-small" href="/delete/{{event.id}}">&#128465</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
